*.swp
tags
home/.vim/bundle/Vundle.vim/
home/.vim/bundle/nerdtree/
home/.vim/bundle/ctrlp.vim/
home/.vim/bundle/syntastic/
home/.vim/bundle/lightline.vim/
home/.vim/bundle/bufexplorer
home/vim/bundle/vim-beancount
home/vim/bundle/yats.vim/
home/vim/bundle/Vim-Jinja2-Syntax
home/vim/bundle/jedi-vim/
