*.swp
tags

*.bak

home/.vim/bundle/Vundle.vim/
home/.vim/bundle/nerdtree/
home/.vim/bundle/ctrlp.vim/
home/.vim/bundle/syntastic/
home/.vim/bundle/lightline.vim/
home/.vim/bundle/bufexplorer
home/vim/bundle/vim-beancount
home/vim/bundle/yats.vim/
home/vim/bundle/Vim-Jinja2-Syntax
home/vim/bundle/jedi-vim/
home/vim/bundle/fzf.vim/
home/vim/bundle/vim-terraform/
home/vim/bundle/omnisharp-vim/
home/vim/bundle/ale/
home/vim/bundle/asyncomplete.vim/
home/vim/bundle/vim-vinegar/
home/vim/bundle/vim-ReplaceWithRegister
home/vim/bundle/vim-instant-markdown/
home/vim/bundle/vimwiki/
home/vim/bundle/open-browser.vim
home/vim/bundle/nginx.vim/
home/vim/bundle/vim-highlightedyank

home/vim2/plugged
home/vim2/.netrwhist

home/config/nvim/plugin

